table {
    width: 100vw;
    height: 100vh;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: scroll;
}

th {
    width: 100px;
}

thead th.header {
    text-align: center;
    border: 1px outset #cdcdcd;
    overflow: hidden;
    background-color: bisque;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
