td {
    border: 1px solid #cdcdcd;
    overflow: hidden;
    text-align: left;
    box-sizing: border-box;
}

td.active {
    border: 2px solid green;
}

input {
    border: none transparent;
    outline: none;
    width: 100%;
}

td div {
    padding: 0 2px 0 2px;
}

.cell-type-string {
    text-align: left;
}

.cell-type-number {
    text-align: right;
}

.cell-type-formula {
    text-align: center;
}